.projectsMain {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.projectsPage {
    padding-top: 80px;
    flex: 1;
}

.footerContainerProjects {
    margin-top: 50px;
}

.projectsName {
    font-size: 50px;
}


.projectsNameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.projectItem {
    flex: 0 0 280px;

    display: block;
    border: 2px solid rgb(207, 241, 241);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    will-change: transform;
    line-height: normal;
    transform-origin: center center;
    margin: 15px;

    max-width: 280px;
    min-height: 400px;
    padding-bottom: 30px;
    position: 'relative';

}



.projectItemHidden {
    opacity: 0.2;

}

.projectsNameHidden {
    z-index: -1;
    opacity: 0.2;
}

.projectItemsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 150px;
    margin: 15px;
    overflow: visible;
    padding-bottom: 100px;
    padding-top: 0px;
    line-height: 0;
    align-items: flex-start;
    contain: layout;
}

.mainProjectItemContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 280px;
    height: 450px;
    box-sizing: border-box;
    position: relative;
}