

.buttonContainer{
     display: flex;
     justify-content: center;
    gap: 45px;
    margin-top: 20px;
}

.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialsContainer{
    margin-top: 30px;
}

.homePage{
    padding-top: 50px;
    flex: 1;
}

.homeMain{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.homeName{
     font-size: 50px;
}

.footerContainerHome{
    margin-top: 50px;
}