

.buttonContainer{
     display: flex;
     justify-content: center;
    gap: 45px;
    margin-top: 20px;
}

.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialsContainer{
    margin-top: 30px;
}