.aboutContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 100px;

   
}

.aboutPfp{
    border: 3px solid rgb(207, 241, 241);
    flex-shrink: 0;
}

.aboutHeader{
    font-size: 50px;
    margin-bottom: 12px;
}
.aboutText {
    display: block;  
    word-wrap: break-word;
    font-size: 1.2rem;
    line-height: 1.4;
}

.aboutContent {
    flex: 1; 
    max-width: 600px; 
    min-width: 0;    
}

.skillsetContainer{
    display: flex;
    flex-direction: column;
    gap: 50px;
    
    
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    
}

.iconRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}





.skillsetMainContainer{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 420px;
    padding-bottom: 100px;
  
}

.skillsetMainContainer-L{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 420px;
    padding-bottom: 100px;
  
}

.skillsetMainContainer-M{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 100px;
  
  
}
.skillsetMainContainer-S{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 100px;
  
}
.skillsetMainContainer-XS{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
  
}
.skillsetContent{
    flex: 1; 
    max-width: 600px; 
    min-width: 0;    
}
.skillsetHeader{
     font-size: 50px;
     margin-bottom: 5px;
}