

.projectName{
    font-size: 24px;
    padding-bottom: 15px;
    min-height: 1.2em; 
    width: 100%;
    text-align: center;
    display: block;
}

.projectMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.projectDescription{
    padding-bottom: 15px;
    text-align: center;
    min-height: 60px; 
  
    width: 100%;
    display: block;
}

.projectIconContainer{
    padding-top: 25px;
}

.projectHidden{
    opacity: 0.2;
}